<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
	<link rel="stylesheet" href="/css/Board_list.css" >
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/script/board.js"></script>
	<script type="text/javascript">
		const url = new URL(window.location.href);
		const pageNum = url.searchParams.get("pageNum");
		const type= url.searchParams.get("type");
		const keyword = url.searchParams.get("keyword");
		var extraUrl = "";
		if(type!=null){
			extraUrl += "&type="+type;
		}
		if(keyword!=null){
			extraUrl += "&keyword="+keyword;
		}
		var page;
		
		$(document).ready(async function(){
			await Promise.all([
				getPageInfo(pageNum),
			]);
			
			boardListSetUpWithPaging(page.criteria)
			$("#searchBtn").on("click",function(){
				var keyword = $("#keyword").val();
				var type = $("#type").val();
				window.location.href = "/boardList?pageNum=1&type="+type+"&keyword="+keyword
			});
		});//end document Ready
	</script>

</head>

<body>
    <h1 onclick="backToBoardList()">게시판</h1>
    <div class="head">
        <h2 class="screen_out">검색</h2>
        <p class="totalBoard">총 <strong class="here"></strong>개의 게시물이 있습니다.</p>
        <div class="search">
            <select id="type">
                <option id="typeA"value="">전체보기</option>
                <option id="typeT" value="T">title</option>
                <option id="typeC" value="C">content</option>
                <option id="typeW" value="W">writer</option>
                <option id="typeTC" value="TC">title + content</option>
            </select><input id="keyword" type="text" name="keyword" placeholder="검색어를 입력하세요">
            <button id="searchBtn">&nbspSEARCH&nbsp</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th scope=col>number</th>
                    <th scope=col>title</th>
                    <th scope=col>writer</th>
                    <th scope=col>create</th>
                    <th scope=col>modified</th>
                </tr>
            </thead>
            <tbody>
				<!-- board.js로 동적 HTML  생성-->
            </tbody>
        </table>
        <a class="create" href="/board/register">글쓰기</a>
    </div>
    <div class="page">
        <h2 class="screen_out">현재페이지</h2>
        <p></p>
        <div class="buttons">
            <button id="prev">이전 페이지</button>
            <button id="next">다음 페이지</button>
        </div>
    </div>


</body>

</html>