<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"></html>
<head>
	
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
</script>
<script type="text/javascript">
let passwdCheck = /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})/;
let idCheck = /\s/g;
let emailCheck = /(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$)/

function validation() {
    var member_id = $("#member_id").val();
    var passwd = $("#passwd").val();
    var email = $("#email").val();
    
    if (!passwdCheck.test(passwd)) {
        alert("비밀번호는 최소 하나 이상의 소문자, 하나의 대문자, 하나의 숫자, 하나의 특수문자, 최소 8 자리 입니다.");
        return false;
    }
    
   	if($("#member_id").data("data-checked") == "false" || $("#email").attr("data-checked") == "false"){
    	alert("아이디 및 이메일 중복확인을 해주세요");
    	return false;
    }
   	var user = {
   			"member_id": member_id,
   			"passwd": passwd,
   			"email": email,
   			"role" : "user"
   	};
   	
    $.ajax({
    	type: "POST",
    	url: "/member",
    	contentType: "application/json",
    	data: JSON.stringify(user),
    	success:function(data){
    		console.log("회원가입성공");
    		alert("회원가입이 성공적으로 완료되었습니다.");
    		window.location.href = "/login";
    	},
    	error: function(e){
    		alert(e.responseText);
    		window.location.href="/member/signUp";
    	}
    	
    });//end ajax
    
}
function checkIdDuplication(){
	var member_id = $("#member_id").val();
	
	if(idCheck.test(member_id) || member_id == "" ){
    	alert("아이디가 공백을 포함하고 있습니다.");
    	$("#member_id").val("");
    	return false;
    }
	else{
		$.ajax({
			type: "get",
			url: "/member/signUp/validation/member_id="+member_id,
			success: function(data) {
				if(data == 0){
					alert("사용 가능한 아이디 입니다.");		
					$("#member_id").attr("data-checked","true");
					$("#member_id").prop("readOnly",true);
				}
				else{
					alert("중복된 아이디 입니다.");
					$("#member_id").val("");
				}
			},
			error: function(e){ //요청에 대한 응답이 error인 경우에 동작할 코드
				console.log("에러발생");
			}//error
		})//end ajax
	}
	
}

function checkEmailDuplication(){
	var email = $("#email").val();
    if(!emailCheck.test(email)){
    	alert("이메일 형식 다르거나 공백을 포함하고 있습니다.");
    	$("#email").val("");
    	return false;
    }    
	$.ajax({
		type: "get",
		url: "/member/signUp/validation/email="+email,
		success: function(data) {
			if(data == 0){
				alert("사용 가능한 이메일 입니다.");
				$("#email").attr("data-checked","true");
				$("#email").prop("readOnly",true);
			}
			else{
				alert("중복된 이메일 입니다.");
				$("#email").val("");
			}
			
		},
		error: function(e){ //요청에 대한 응답이 error인 경우에 동작할 코드
			console.log("에러발생");
		}//error
	})//end ajax
}


	
</script>
<title>Insert title here</title>
<body>
	<h1>회원가입 페이지</h1>
	<div>
		<!-- <form method="post" action="#" onsubmit="return validation()"> -->
		<form>
			<span><strong>ID</strong><br><input value="hsch" id="member_id" name="member_id" placeholder="아이디를 입력하세요" data-checked="false"></span><button type="button" onclick="checkIdDuplication()">중복확인</button><br>
			<span><strong>PASSWD</strong><br><input value="Tmdcks3400@" id="passwd" name="passwd" placeholder="패스워드를 입력하세요" type="password"></span><br>
			<span><strong>E-mail</strong><br><input value="hsch19@naver.com" id="email" name="email" placeholder="이메일을 입력하세요" data-checked="false"></span><button type="button" onclick="checkEmailDuplication()">중복확인</button><br><br>
		</form>
			<span><button type="button" onclick="validation()">가입하기</button></span>
	
	</div>
</body>
</html>