<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"></html>
<head>
	
</head>
<title>Insert title here</title>
</head>
<body>
	<h1>회원가입 페이지</h1>
	<div>
		<form action="">
			<span><strong>ID</strong><br><input name="member_id" placeholder="아이디를 입력하세요"></span><br>
			<span><strong>PASSWD</strong><br><input name="passwd" placeholder="패스워드를 입력하세요"></span><br>
			<span><strong>E-mail</strong><br><input name="email" placeholder="이메일을 입력하세요"></span>
		</form>
	
	</div>
</body>
</html>